/* ***************************************************** TAG Section ***************************************************************** */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}



/* ***************************************************** CLASS Section ***************************************************************** */

/* Headings Section */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

.title-image {
  width: 70%;
  transform: rotate(20deg);
  /* Positioning is mandatory in order for z-index to work */
  /* position: absolute;
  z-index: -1; */
  margin-left: 20%;
  right: 30%;
}

/* Feature Section */
.feature-box {
  padding: 3%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Testimonials Section */

.testimonial-text {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 25px;
}


/* Press Section */

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

.price-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

.social-icon:hover {
  color: #87AAAA;
}

.copyright-desc {
  font-size: 18px;
  color: #798777;
}

/* ***************************************************** ID Section ***************************************************************** */

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Features Section */

#features {
  position: relative;
}


/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}


/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}


/* CTA Section */



/* Footer Section */



/* ******************************* Media Query  ******************************* */

@media (max-width: 1020px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
